{% extends 'newsfeed/base.html' %}
{% load static %}
{% load newsfeed_tags %}

{%block username %}
{% if user.is_authenticated %}
<ul class="nav navbar-nav navbar-right">
    <li>
        <a href="/newsfeed/profile" id="login-nav"><span class="glyphicon glyphicon-user" style="color:white"></span>
            <font id="loginSpan" color="white"> {{ user }}</font>
        </a>
    </li>
    <li>
        <a href="/newsfeed/logout"><span class="glyphicon glyphicon-log-out" style="color:white"></span>
            <font color="white"> Logout</font>
        </a>
    </li>
</ul>
{% endif %}
{% endblock %}

{% block choices %}
{% if user.is_authenticated %}
<div class="col-sm-3 sidenav">
    <form action="/newsfeed/prefChange/" method="post">
        {% csrf_token %}
        <table class="table">
            <tbody>
            <tr>
                <td><font style="color:white">World </font></td>
                <td><input type="range" name="worldPoints" min="0" max="4" value="{{ user.worldPref }}"></td>
            </tr>
            <tr>
                <td><font style="color:white">Business </font></td>
                <td><input type="range" name="businessPoints" min="0" max="4" value="{{ user.businessPref }}"></td>
            </tr>
            <tr>
                <td><font style="color:white">Technology </font></td>
                <td><input type="range" name="technologyPoints" min="0" max="4" value="{{ user.technologyPref }}"></td>
            </tr>
            <tr>
                <td><font style="color:white">Science </font></td>
                <td><input type="range" name="sciencePoints" min="0" max="4" value="{{ user.sciencePref }}"></td>
            </tr>
            <tr>
                <td><font style="color:white">Health </font></td>
                <td><input type="range" name="healthPoints" min="0" max="4" value="{{ user.healthPref }}"></td>
            </tr>
            <tr>
                <td><font style="color:white">Sports </font></td>
                <td><input type="range" name="sportsPoints" min="0" max="4" value="{{ user.sportsPref }}"></td>
            </tr>
            <tr>
                <td><font style="color:white">Politics </font></td>
                <td><input type="range" name="politicsPoints" min="0" max="4" value="{{ user.politicsPref }}"></td>
            </tr>
            </tbody>
        </table>
        <button type="submit" value="Submit" class="w3-button w3-round-xlarge w3-red">Save</button>
    </form>

    <br>
    <!--<div>-->
    <!--<form action="" method="post">-->
    <!--{% csrf_token %}-->
    <!--<button type="submit" value="Submit" class="w3-button w3-round-xxlarge w3-green">Rate Articles</button>-->
    <!--</form>-->
    <!--<br>-->
    <!--</div>-->
    <!--<br><br>-->
    <!--<div>-->
    <!--<form action="/newsfeed/addRss/" method="post">-->
    <!--{% csrf_token %}-->
    <!--<table class="table">-->
    <!--<tbody>-->
    <!--<tr>-->
    <!--<td style="color:white;">Add RSS</td>-->
    <!--</tr>-->
    <!--<tr>-->
    <!--<td><input type="text" placeholder="RSS url" name="rss" style="width:100%;"></td>-->
    <!--</tr>-->
    <!--</tbody>-->
    <!--</table>-->
    <!--<button type="submit" value="Submit" class="w3-button w3-round-xlarge w3-red">Save</button>-->
    <!--</form>-->
    <!--<br>-->
    <!--</div>-->
</div>
{% else %}
<div class="col-sm-2">
    <table>
        <tbody>
        <tr>
            <td><a href="/newsfeed/register"><img src="{% static 'newsfeed/images/registerButton.png' %}" width="170"
                                                  height="100"></a></td>
        </tr>
        <tr>
            <td><a href="/newsfeed/login"><img src="{% static 'newsfeed/images/login.png' %}" width="170"
                                               height="80"></a></td>
        </tr>
        </tbody>
    </table>
</div>
{% endif %}
{% endblock %}

{% block body %}
{% if user.is_authenticated %}
<script>
$(document).ready( function() {

    function getCookie(name) {
        var cookieValue = null;
        var i = 0;
        if (document.cookie && document.cookie !== '') {
            var cookies = document.cookie.split(';');
            for (i; i < cookies.length; i++) {
                var cookie = jQuery.trim(cookies[i]);
                // Does this cookie string begin with the name we want?
                if (cookie.substring(0, name.length + 1) === (name + '=')) {
                    cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                    break;
                }
            }
        }
        return cookieValue;
    }

    function csrfSafeMethod(method) {
        // these HTTP methods do not require CSRF protection
        return (/^(GET|HEAD|OPTIONS|TRACE)$/.test(method));
    }

    $(document).on('click','#rateButton',function(){

        var articleId = $(this).attr('name');
        var value = $("#"+articleId).val();
        csrfToken = getCookie('csrftoken')

        $.ajax({
            url: "/newsfeed/saveRatings/",
            type: "post",
            data: {'id': articleId, 'value': value},
            beforeSend: function(xhr, settings) {
                if (!csrfSafeMethod(settings.type)) {
                    xhr.setRequestHeader("X-CSRFToken", csrfToken);
                }
            },
            success: function(data) {

            }
        })
    });
});



</script>
{% for post in all_articles %}
<input type="text" name="articleIdInput" value="{{ post.articleId }}" style="display:none;">
<div class="thumbnail">
    <h2><i><a target="_blank" href="{{ post.link }}">{{ post.title }}</a></i></h2>
    <table class="table">
        <tbody>
        <tr>
            <!--<td><img src="{% static 'newsfeed/images/australia.jpg' %}" class="img-rounded" width="204" height="136">-->
            <!--</td>-->
            <td><img src="{{ post.thumbnail }}" class="img-rounded" width="204" height="136"></td>
            <td><p>{{ post.description }}</p>
                <p style="color:red;">Rate the article</p>
                <input type="range" id="{{ post.articleId }}" min="0" max="2" value="1">

            </td>
            <!--<td><p>{{ post.text|safe|truncatewords:"100"|linebreaks }}</p>-->
            <!--<a href="/newsfeed/{{ post|mongo_id }}">Read more</a>-->
        </tr>
        <tr>
            <td>
                <!--<a target="_blank" href="{{ post.link }}">Read more</a>-->
                <button class="w3-button w3-round-xxlarge w3-green" name="{{ post.articleId }}" id="rateButton">Rate</button>
            </td>
        </tr>
        </tbody>
    </table>
</div>
{% endfor %}
{% else %}
<div class="thumbnail">
    <h2><i>Welcome to StRello</i></h2>
    <table class="table">
        <tbody>
        <tr>
            <td><img src="{% static 'newsfeed/images/news-icon-header.png' %}" class="img-rounded" width="204"
                     height="136"></td>
            <td>
                <p>The system, called StRello, collects articles from preselected websites, such as news websites or
                    sports websites and then,
                    an analysis is made in the text of each article. As a result, the appropriate information is
                    extracted
                    (eg title, text, date, author, keywords), so as the user to be informed about news similar to its
                    interests.</p>
            </td>
        </tr>
        </tbody>
    </table>
</div>
{% endif %}
{% endblock %}

<!--{% block ratingButton %}-->
<!--{% if user.is_authenticated %}-->
<!--<div>-->
    <!--<form action="/newsfeed/saveRatings/" method="post">-->
        <!--{% csrf_token %}-->
        <!--<button type="submit" value="Submit" class="w3-button w3-round-xxlarge w3-green">Rate Articles</button>-->
    <!--</form>-->
    <!--<br>-->
<!--</div>-->
<!--{% endif %}-->
<!--{% endblock %}-->

