{% extends 'newsfeed/base.html' %}
{% load static %}
{% load newsfeed_tags %}

{% block choices %}
<div class="col-sm-2 sidenav">
    <table class="table">
        <tbody>
        <tr>
            <td><font style="color:white">World </font></td>
            <td><input type="range" name="points" min="0" max="10"></td>
        </tr>
        <td><font style="color:white">Tech </font></td>
        <td><input type="range" name="points2" min="0" max="10"></td>
        </tr>
        <td><font style="color:white">Sports </font></td>
        <td><input type="range" name="points3" min="0" max="10"></td>
        </tr>
        </tbody>
    </table>
</div>
{% endblock %}

{% block body %}
{% for post in all_articles %}
<div class="thumbnail">
    <h2><i>{{ post.title }}</i></h2>
    <table class="table">
        <tbody>
        <tr>
            <td><img src="{% static 'newsfeed/images/australia.jpg' %}" class="img-rounded" width="204" height="136">
            </td>
            <td><p>{{ post.text|safe|truncatewords:"100"|linebreaks }}</p>
                <a href="/newsfeed/{{ post|mongo_id }}">Read more</a>
            </td>
        </tr>
        </tbody>
    </table>
</div>
{% endfor %}
{% endblock %}

