{% extends 'newsfeed/base.html' %}
{% load static %}

{%block username %}
<ul class="nav navbar-nav navbar-right">
                <li><a href="/newsfeed/profile" id="login-nav"><span class="glyphicon glyphicon-user" style="color:white"></span><font
                        id="loginSpan" color="white"> {{ user }}</font></a></li>
            </ul>
{% endblock %}

{% block choices %}
<div class="col-sm-2 sidenav">
    <table class="table">
        <tbody>
        <tr>
            <td><font style="color:white">World </font></td>
            <td><input type="range" name="points" min="0" max="10"></td>
        </tr>
        <td><font style="color:white">Tech </font></td>
        <td><input type="range" name="points2" min="0" max="10"></td>
        </tr>
        <td><font style="color:white">Sports </font></td>
        <td><input type="range" name="points3" min="0" max="10"></td>
        </tr>
        </tbody>
    </table>
</div>
{% endblock %}
{% block body %}
<div class="thumbnail">
    <h2><i>{{ article.title }}</i></h2>
    <table class="table">
        <tbody>
        <tr>
            <td><img src="{% static 'newsfeed/images/australia.jpg' %}" class="img-rounded" width="204" height="136">
            </td>
            <td><p>{{ article.text }}</p>
            </td>
        </tr>
        </tbody>
    </table>
</div>
{% endblock %}

